.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items : center; 
  align-content : stretch; 
}

.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items : center; 
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80vw;
  height: 20px;
}

.cardcontainerstyle {
  height: 55vh;
  width: 90vw;
  overflow-y: auto;
}

.fileinputstyle {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  background: lightgrey;
}
